
<!-- <ng-container *ngIf="router.url === '/login'; else home">
    <router-outlet></router-outlet>
</ng-container>

<ng-template #home>
    <div class="container-scroller">
        <nav class="navbar">  
            <a class="nav-a-logout" (click)="logout()">Salir</a>  
        </nav> 
        <app-sidebar></app-sidebar>
        <router-outlet></router-outlet>
    </div>
</ng-template> -->

<ng-container *ngIf="isLoginRoute(); else otherRoutes">
    <router-outlet></router-outlet>
</ng-container>

<ng-template #otherRoutes>
    <ng-container *ngIf="!isRouteValid(); else home">
        <router-outlet></router-outlet>
    </ng-container>

    <ng-template #home>
        <div class="container-scroller">
            <nav class="navbar">
                <a class="nav-a-logout" (click)="logout()">Salir</a>
            </nav>
            <app-sidebar></app-sidebar>
            <router-outlet></router-outlet>
        </div>
    </ng-template>
</ng-template>