.navbar {  
    position: absolute;
    top: 10px;
    right: 18px;
    padding-right: 0;
    z-index: 10;
    flex-direction: row-reverse;
    background-color: transparent;
}  

.nav-a-logout {  
    display: inline-block;
    padding: 8px 25px;
    background-color: rgba(255, 0, 0, 0.7);
    color: white;
    border-radius: 20px;
    text-decoration: none;
    font-size: 16px;
    transition: background-color 0.3s;
}  

.nav-a-logout:hover {  
    cursor: pointer;
    background-color: rgba(255, 0, 0, 1);
}  