
<div class="row">
    <div class="col">
        <div class="list-group">
            <a class="list-group-item list-group-item-action">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">{{indice+1}} | {{ peliculaLista.titulo }} ({{ peliculaLista.anio }})</h5>
                    <small><b>Duración: </b> {{ formatDuration(peliculaLista.duracion) }}</small>
                </div>
                <p class="mb-1"><b>Director:</b> {{ peliculaLista.director }}</p>
                <p class="mb-1"><b>Género:</b> {{ peliculaLista.genero }}</p>
                <p class="mb-1"><b>Clasificación:</b> {{ peliculaLista.clasificacion }}</p>
                <small><b>Sinpsis:</b> {{ peliculaLista.sinopsis }}</small>
                <div>
                    <button class="btn btn-warning mb-3 mr-2" [routerLink]="['/edit', peliculaLista.id]">
                        <i class="fa-solid fa-trash"></i> Editar
                    </button>
                    <button class="btn btn-danger mb-3" (click)="eliminar_pelicula(peliculaLista.id)">
                        <i class="fa-solid fa-trash"></i> Eliminar
                    </button>
                </div>
            </a>
        </div>
        
    </div>
</div>
